<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    
    <!--************* servlet begin ***********-->    
	<servlet>
		<servlet-name>StartInit</servlet-name>
		<servlet-class>top.lmoon.servlet.InitServlet</servlet-class>
		<init-param>
			<param-name>myParam</param-name>
			<param-value>hello</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>top.lmoon.servlet.TestServlet</servlet-class>
	</servlet>	
	<servlet>
        <display-name>MainServlet</display-name>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>top.lmoon.servlet.MainServlet</servlet-class>
    </servlet>   
    <servlet>
		<servlet-name>ConfServlet</servlet-name>
		<servlet-class>top.lmoon.servlet.ConfServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QrcodeServlet</servlet-name>
		<servlet-class>top.lmoon.servlet.QrcodeServlet</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>SsInfoServlet</servlet-name>
		<servlet-class>top.lmoon.servlet.SsInfoServlet</servlet-class>
	</servlet>
	<!--************* servlet end *************-->

	<!--************* servlet-mapping begin ***************-->	
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>	
	 <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>      
    <servlet-mapping>
		<servlet-name>ConfServlet</servlet-name>
		<url-pattern>/conf</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>QrcodeServlet</servlet-name>
		<url-pattern>/s/qrcode</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SsInfoServlet</servlet-name>
		<url-pattern>/s/info</url-pattern>
	</servlet-mapping>
	<!--************* servlet-mapping end ******************-->
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>